<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>628133450965-e8p5s7vm3p7fjnao3g4kmsp76t6vcliq.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.628133450965-e8p5s7vm3p7fjnao3g4kmsp76t6vcliq</string>
    <key>API_KEY</key>
    <string>AIzaSyAkSxGE-czWK94FwF6eApoVJpNf_h7uBdw</string>
    <key>GCM_SENDER_ID</key>
    <string>628133450965</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>xfillmore.Snowflakes</string>
    <key>PROJECT_ID</key>
    <string>l6-firebase</string>
    <key>STORAGE_BUCKET</key>
    <string>l6-firebase.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:628133450965:ios:1cc9479156a7ae2ba5be5c</string>
    <key>DATABASE_URL</key>
    <string>https://l6-firebase.firebaseio.com</string>
</dict>
</plist>
