<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   constellations.plist
   LuminaryClock

   Created by Xuedan on 2/4/21.
   Copyright (c) 2021 Xuedan. All rights reserved.
-->

<plist version="1.0">
<array>
    <dict>
        <key>constellation</key>
        <string>Andromeda</string>
        <key>memberstars</key>
        <array>
            <string>Adhil</string>
            <string>Alamak</string>
            <string>Almach</string>
            <string>Alpheratz</string>
            <string>Buna</string>
            <string>Mirach</string>
            <string>Nembus</string>
            <string>Sterrennacht</string>
            <string>Titawin</string>
            <string>Veritate</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Aquarius</string>
        <key>memberstars</key>
        <array>
            <string>Albali</string>
            <string>Ancha</string>
            <string>Bosona</string>
            <string>Bunda</string>
            <string>Lionrock</string>
            <string>Marohu</string>
            <string>Sadachbia</string>
            <string>Sadalmelik</string>
            <string>Sadalsuud</string>
            <string>Situla</string>
            <string>Skat</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Aquila</string>
        <key>memberstars</key>
        <array>
            <string>Alshain</string>
            <string>Altair</string>
            <string>Chechia</string>
            <string>Libertas</string>
            <string>Okab</string>
            <string>Petra</string>
            <string>Phoenicia</string>
            <string>Tarazed</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Aries</string>
        <key>memberstars</key>
        <array>
            <string>Bharani</string>
            <string>Botein</string>
            <string>Hamal</string>
            <string>Lilii Borea</string>
            <string>Mesarthim</string>
            <string>Sheratan</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Auriga</string>
        <key>memberstars</key>
        <array>
            <string>Almaaz</string>
            <string>Capella</string>
            <string>Haedus</string>
            <string>Hassaleh</string>
            <string>Lucilinburbhuc</string>
            <string>Mahasim</string>
            <string>Menkalinan</string>
            <string>Nervia</string>
            <string>Saclateni</string>
            <string>Tevel</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Bootes</string>
        <key>memberstars</key>
        <array>
            <string>Alkalurops</string>
            <string>Arcalis</string>
            <string>Arcturus</string>
            <string>Asselus Primus</string>
            <string>Asseuls Secundus</string>
            <string>Asselus Tertius</string>
            <string>Izar</string>
            <string>Merga</string>
            <string>Muphrid</string>
            <string>Nekkar</string>
            <string>Nikawiy</string>
            <string>Seginus</string>
            <string>Xuange</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Cancer</string>
        <key>memberstars</key>
        <array>
            <string>Acubens</string>
            <string>Asellus Australis</string>
            <string>Asellus Borealis</string>
            <string>Copernicus</string>
            <string>Gakyid</string>
            <string>Meleph</string>
            <string>Nahn</string>
            <string>Piautos</string>
            <string>Tarf</string>
            <string>Tegmine</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Canes Venatici</string>
        <key>memberstars</key>
        <array>
            <string>Chara</string>
            <string>Cor Caroli</string>
            <string>La Superba</string>
            <string>Tuiren</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Canis Major</string>
        <key>memberstars</key>
        <array>
            <string>Adhara</string>
            <string>Aludra</string>
            <string>Amadioha</string>
            <string>Atakoraka</string>
            <string>Furud</string>
            <string>Mirzam</string>
            <string>Muliphein</string>
            <string>Sirius</string>
            <string>Unurgunite</string>
            <string>Wezen</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Canis Minor</string>
        <key>memberstars</key>
        <array>
            <string>Gomeisa</string>
            <string>Procyon</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string>Beta Canis Minoris A</string>
            <string>Alpha Canis Minoris A</string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Capricornus</string>
        <key>memberstars</key>
        <array>
            <string>Algedi</string>
            <string>Alshat</string>
            <string>Dabih</string>
            <string>Deneb Algedi</string>
            <string>Nashira</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Carina</string>
        <key>memberstars</key>
        <array>
            <string>Aspidiske</string>
            <string>Avior</string>
            <string>Canopus</string>
            <string>Miaplacidus</string>
            <string>Tapecue</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Cassiopeia</string>
        <key>memberstars</key>
        <array>
            <string>Achird</string>
            <string>Caph</string>
            <string>Castula</string>
            <string>Fulu</string>
            <string>Marfak</string>
            <string>Navi</string>
            <string>Nushagak</string>
            <string>Ruchbah</string>
            <string>Schedar</string>
            <string>Segin</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Centarus</string>
        <key>memberstars</key>
        <array>
            <string>Dofida</string>
            <string>Hadar</string>
            <string>Menkent</string>
            <string>Nyamien</string>
            <string>Proxima Centauri</string>
            <string>Rigil Kentarus</string>
            <string>Toliman</string>
            <string>Uklun</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Cepheus</string>
        <key>memberstars</key>
        <array>
            <string>Alderamin</string>
            <string>Alfirk</string>
            <string>Al Kalb al Rai</string>
            <string>Errai</string>
            <string>Garnet Star</string>
            <string>Kurhah</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Cetus</string>
        <key>memberstars</key>
        <array>
            <string>Axolotl</string>
            <string>Baten Kaitos</string>
            <string>Diphda</string>
            <string>Felixvarela</string>
            <string>Kaffaljidhma</string>
            <string>Menkar</string>
            <string>Mira</string>
            <string>Mpingo</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Columba</string>
        <key>memberstars</key>
        <array>
            <string>Elkurud</string>
            <string>Phact</string>
            <string>Wazn</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Corona Borealis</string>
        <key>memberstars</key>
        <array>
            <string>Alphecca</string>
            <string>Kamuy</string>
            <string>Moldoveanu</string>
            <string>Nusakan</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Corvus</string>
        <key>memberstars</key>
        <array>
            <string>Alchiba</string>
            <string>Algorab</string>
            <string>Geinah</string>
            <string>Kraz</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Crater</string>
        <key>memberstars</key>
        <array>
            <string>Alkes</string>
            <string>Amansinaya</string>
            <string>Hunahpu</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Crux</string>
        <key>memberstars</key>
        <array>
            <string>Acrux</string>
            <string>Gacrux</string>
            <string>Ginan</string>
            <string>Imai</string>
            <string>Mimosa</string>
            <string>Tupa</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Cygnus</string>
        <key>memberstars</key>
        <array>
            <string>Albireo</string>
            <string>Aljanah</string>
            <string>Azelfafage</string>
            <string>Deneb</string>
            <string>Farwaris</string>
            <string>Sadr</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Delphinus</string>
        <key>memberstars</key>
        <array>
            <string>Aldulfin</string>
            <string>Moriah</string>
            <string>Musica</string>
            <string>Rotanev</string>
            <string>Sualocin</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Draco</string>
        <key>memberstars</key>
        <array>
            <string>Aldhibah</string>
            <string>Alrakis</string>
            <string>Alruba</string>
            <string>Alsafi</string>
            <string>Atais</string>
            <string>Athebyne</string>
            <string>Dziban</string>
            <string>Edasich</string>
            <string>Etanin</string>
            <string>Fafnir</string>
            <string>Funi</string>
            <string>Giausar</string>
            <string>Grumium</string>
            <string>Kuma</string>
            <string>Rastaban</string>
            <string>Taiyi</string>
            <string>Thuban</string>
            <string>Tianyi</string>
            
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Eridanus</string>
        <key>memberstars</key>
        <array>
            <string>Acamar</string>
            <string>Achernar</string>
            <string>Angetenar</string>
            <string>Ayeyarwady</string>
            <string>Azha</string>
            <string>Beemim</string>
            <string>Beid</string>
            <string>Chaophraya</string>
            <string>Cursa</string>
            <string>Keid</string>
            <string>Koeia</string>
            <string>Montuno</string>
            <string>Muohoun</string>
            <string>Ran</string>
            <string>Sceptrum</string>
            <string>Theemin</string>
            <string>Tojil</string>
            <string>Zaurak</string>
            <string>Zibal</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict><dict>
        <key>constellation</key>
        <string>Fornax</string>
        <key>memberstars</key>
        <array>
            <string>Dalim</string>
            <string>Diya</string>
            <string>Intan</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Gemini</string>
        <key>memberstars</key>
        <array>
            <string>Alhena</string>
            <string>Alzirr</string>
            <string>Castor</string>
            <string>Jishui</string>
            <string>Mebsuta</string>
            <string>Mekbuda</string>
            <string>Pollux</string>
            <string>Propus</string>
            <string>Tejat</string>
            <string>Wasat</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Grus</string>
        <key>memberstars</key>
        <array>
            <string>Aldhanab</string>
            <string>Alnair</string>
            <string>Itonda</string>
            <string>Tiaki</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Hercules</string>
        <key>memberstars</key>
        <array>
            <string>Cujam</string>
            <string>Franz</string>
            <string>Hunor</string>
            <string>Irena</string>
            <string>Kornephoros</string>
            <string>Maasym</string>
            <string>Marsic</string>
            <string>Ogma</string>
            <string>Pipoltr</string>
            <string>Rasalgethi</string>
            <string>Sarin</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Hydra</string>
        <key>memberstars</key>
        <array>
            <string>Alphard</string>
            <string>Ashlesha</string>
            <string>Felis</string>
            <string>Lerna</string>
            <string>Minchir</string>
            <string>Ukdah</string>
            <string>Zhang</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Leo</string>
        <key>memberstars</key>
        <array>
            <string>Adhafera</string>
            <string>Algieba</string>
            <string>Al Minilar al Asad</string>
            <string>Alterf</string>
            <string>Chertan</string>
            <string>Denebola</string>
            <string>Dingolay</string>
            <string>Formosa</string>
            <string>Rasalus</string>
            <string>Regulus</string>
            <string>Sagarmatha</string>
            <string>Shama</string>
            <string>Subra</string>
            <string>Zosma</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Libra</string>
        <key>memberstars</key>
        <array>
            <string>Brachium</string>
            <string>Zubenelgenubi</string>
            <string>Zubenelhakrabi</string>
            <string>Zubeneschamali</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Lynx</string>
        <key>memberstars</key>
        <array>
            <string>Absolutno</string>
            <string>Alsciaukat</string>
            <string>Gloas</string>
            <string>Koit</string>
            <string>Stribor</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Lyra</string>
        <key>memberstars</key>
        <array>
            <string>Aladfar</string>
            <string>Alathfar</string>
            <string>Chason</string>
            <string>Sheliak</string>
            <string>Sulafat</string>
            <string>Vega</string>
            <string>Xihe</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Ophiuchus</string>
        <key>memberstars</key>
        <array>
            <string>Barnard's Star</string>
            <string>Cebalrai</string>
            <string>Guniibuu</string>
            <string>Mahsati</string>
            <string>Marfik</string>
            <string>Rasalhague</string>
            <string>Rosaliadecastro</string>
            <string>Sabik</string>
            <string>Timir</string>
            <string>Yed Posteror</string>
            <string>Yed Prior</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Orion</string>
        <key>memberstars</key>
        <array>
            <string>Alnilam</string>
            <string>Alnitak</string>
            <string>Bellatrix</string>
            <string>Betelgeuse</string>
            <string>Hatysa</string>
            <string>Meissa</string>
            <string>Mintaka</string>
            <string>Rigel</string>
            <string>Saiph</string>
            <string>Tabit</string>
            <string>Thabit</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Pegasus</string>
        <key>memberstars</key>
        <array>
            <string>Algenib</string>
            <string>Alkarab</string>
            <string>Anadolu</string>
            <string>Biham</string>
            <string>Enif</string>
            <string>Helvetios</string>
            <string>Homam</string>
            <string>Markab</string>
            <string>Matar</string>
            <string>Morava</string>
            <string>Sadalbari</string>
            <string>Salm</string>
            <string>Scheat</string>
            <string>Solaris</string>
            <string>Tangra</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Perseus</string>
        <key>memberstars</key>
        <array>
            <string>Algol</string>
            <string>Atik</string>
            <string>Berehynia</string>
            <string>Menkib</string>
            <string>Miram</string>
            <string>Mirfak</string>
            <string>Misam</string>
            <string>Muspelheim</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict><dict>
        <key>constellation</key>
        <string>Phoenix</string>
        <key>memberstars</key>
        <array>
            <string>Ankaa</string>
            <string>Nenque</string>
            <string>Wurren</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Pisces</string>
        <key>memberstars</key>
        <array>
            <string>Alpherg</string>
            <string>Alrescha</string>
            <string>Belenos</string>
            <string>Citadelle</string>
            <string>Ebla</string>
            <string>Fumalsamakah</string>
            <string>Parumleo</string>
            <string>Revati</string>
            <string>Torcular</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Puppis</string>
        <key>memberstars</key>
        <array>
            <string>Azmidi</string>
            <string>Naos</string>
            <string>Nosaxa</string>
            <string>Tislit</string>
            <string>Tureis</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict><dict>
        <key>constellation</key>
        <string>Sagitta</string>
        <key>memberstars</key>
        <array>
            <string>Sansuna</string>
            <string>Sham</string>
            <string>Uruk</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict><dict>
        <key>constellation</key>
        <string>Saggitarius</string>
        <key>memberstars</key>
        <array>
            <string>Ainalrami</string>
            <string>Albaldah</string>
            <string>Alnasl</string>
            <string>Arkab Posterior</string>
            <string>Arkab Prior</string>
            <string>Ascella</string>
            <string>Belel</string>
            <string>Gumala</string>
            <string>Kaus Australis</string>
            <string>Kaus Borealis</string>
            <string>Kaus Media</string>
            <string>Nash</string>
            <string>Nunki</string>
            <string>Pincoya</string>
            <string>Polis</string>
            <string>Rukbat</string>
            <string>Sika</string>
            <string>Terebellum</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict><dict>
        <key>constellation</key>
        <string>Scorpius</string>
        <key>memberstars</key>
        <array>
            <string>Acrab</string>
            <string>Alniyat</string>
            <string>Antares</string>
            <string>Diwo</string>
            <string>Dschubba</string>
            <string>Fang</string>
            <string>Fuyue</string>
            <string>Graffias</string>
            <string>Iklil</string>
            <string>Jabbah</string>
            <string>Larawag</string>
            <string>Lesath</string>
            <string>Paikauhale</string>
            <string>Pipirima</string>
            <string>Rapeto</string>
            <string>Sargas</string>
            <string>Sharjah</string>
            <string>Shaula</string>
            <string>Xamidimura</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict><dict>
        <key>constellation</key>
        <string>Serpens</string>
        <key>memberstars</key>
        <array>
            <string>Alasia</string>
            <string>Alya</string>
            <string>Gudja</string>
            <string>Kaveh</string>
            <string>Unukalhai</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Taurus</string>
        <key>memberstars</key>
        <array>
            <string>Ain</string>
            <string>Alcyone</string>
            <string>Aldebaran</string>
            <string>Asterope</string>
            <string>Atlas</string>
            <string>Celaeno</string>
            <string>Chamukuy</string>
            <string>Electra</string>
            <string>Elnath</string>
            <string>Hoggar</string>
            <string>Maia</string>
            <string>Merope</string>
            <string>Pleione</string>
            <string>Prima Hyadum</string>
            <string>Secunda Hyadum</string>
            <string>Taygeta</string>
            <string>Tianguan</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Ursa Major</string>
        <key>memberstars</key>
        <array>
            <string>Alcor</string>
            <string>Alioth</string>
            <string>Alkaid</string>
            <string>Alkaphrah</string>
            <string>Alula Australis</string>
            <string>Alula Borealis</string>
            <string>Aniara</string>
            <string>Chalawan</string>
            <string>Dombay</string>
            <string>Dubhe</string>
            <string>Intercrus</string>
            <string>Liesma</string>
            <string>Mazaalai</string>
            <string>Megrez</string>
            <string>Merak</string>
            <string>Mizar</string>
            <string>Muscida</string>
            <string>Nasti</string>
            <string>Phecda</string>
            <string>Sarir</string>
            <string>Taiyangshou</string>
            <string>Talitha</string>
            <string>Tania Australis</string>
            <string>Tania Borealis</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Ursa Minor</string>
        <key>memberstars</key>
        <array>
            <string>Baekdu</string>
            <string>Kochab</string>
            <string>Pherkad</string>
            <string>Polaris</string>
            <string>Yildun</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Vela</string>
        <key>memberstars</key>
        <array>
            <string>Alsephina</string>
            <string>Kalausi</string>
            <string>Markeb</string>
            <string>Natasha</string>
            <string>Regor</string>
            <string>Suhail</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
    <dict>
        <key>constellation</key>
        <string>Virgo</string>
        <key>memberstars</key>
        <array>
            <string>Elgafar</string>
            <string>Flegetonte</string>
            <string>Heze</string>
            <string>Kang</string>
            <string>Khambalia</string>
            <string>Lich</string>
            <string>Malmok</string>
            <string>Minelauva</string>
            <string>Monch</string>
            <string>Porrima</string>
            <string>Spica</string>
            <string>Syrma</string>
            <string>Vindemiatrix</string>
            <string>Zaniah</string>
            <string>Zavijava</string>
        </array>
        <key>stardesignations</key>
        <array>
            <string></string>
        </array>
    </dict>
</array>
</plist>
